.main-container {
  padding: 10px 100px;
  font-family: Arial, Helvetica, sans-serif;

  .title {
    font-size: 2em;
    padding: 30px 0;
    .browse {
      font-weight: 800;
    }
  }

  .list-of-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  @media (max-width: 1200px) {
    padding: 10px 50px;
  }

  @media (max-width: 768px) {
    padding: 10px 20px;
  }
}
