.book-card {
  .book-image {
    width: 70%;
    margin: 0 auto 10px;
  }
  .book-details {
    text-align: center;
    font-size: 1.3em;
    @media (max-width: 768px) {
      font-size: 1em;
    }

    @media (max-width: 480px) {
      font-size: 0.7em;
    }
  }

  .book-title {
    font-size: 1.2em;
    margin: 10px 0;
  }

  .book-author,
  .book-reviewedBy {
    font-size: 0.9em;
    color: #555;
  }
}
